




/* --------------HEADER------------------- */




/* ---------------- Button -------------  */
/* ---------------- Button -------------  */

/* _______________________________________________________- */


/* -----------------Features----------------  */

/*--------------- What we do------------------ */

/* ------------------Comanda ------------ */


/* --------------Gallery ------------------*/


/* --------CLIENTS----------------  */



/* --------------FOOTER--------------  */

/* --------------SUBSCRIBE--------------  */


/* --------------BACKDROP--------------  */


/* --------------MODAL--------------  */

/* --------------FORMS--------------  */




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* .form-chek {
  margin-bottom: 110px;
}

.check-icon {

  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 4px;
  margin-right: 9px;
}


.checkbox:checked + .check-icon  {
  border-color: var(--theme-color);
  background-color: var(--theme-color);
  background-image: url(../images/Vector.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox:focus + .check-icon {
  border-radius: var(--theme-color);
}

.check-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.link-policy {
  color: var(--theme-color);
  text-decoration: underline;
  margin-left: 5px; 
}  */
/* -------------------------------------------  */
