.btn-all {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-style: none;
}
.button {
  background-color: var(--bgcolor2);
  color: var(--title-color);
  border-color: var(--bgcolor2);

  min-width: 73px;
  border-style: none;

  transition: background-color var(--ttime) var(--cubic), color var(--ttime) var(--cubic),
    box-shadow var(--ttime) var(--cubic);
}

.button.active:hover,
.button.active:focus {
  color: var(--white-color);
  background-color: var(--theme-color);
  border-color: var(--theme-color);
  box-shadow: var(--box-shadows-btn);
}

.button-hero {
  position: relative;
  color: var(--white-color);
  background-color: var(--theme-color);
  border-color: var(--theme-color);
  padding: 10px 32px;
  overflow: hidden;
  transition: background-color var(--ttime) var(--cubic);
}

.button-hero:focus,
.button-hero:hover {
  background-color: var(--bgcolor2);
  color: var(--title-color);
  border-color: var(--bgcolor2);
}
