
.features-list ul {
  display: flex;
  justify-content: space-between;
}
.features-list .item {
  width: 270px;
  margin-left: 30px;
}
/* .features-list .item::before {
  display: block;
  content: '';
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
} */
/* .features-list .item + .item {
  margin-left: 30px;
} */

.features-list .item:first-child {
  margin-left: 0;
}
.features-list .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.features-list .title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-svg {
  display: block;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--bgcolor2);
  padding: 25px 100px;
}
