.button-list {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
}
.button-list .item {
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}
.button-list .item:not(:last-child) {
  margin-right: 8px;
}
.button-list .button {
  padding: 6px 22px;
}
