.footer {
  background-color: var(--bgcolor-accent);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-list {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.address {
  color: var(--white-color);
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 9px;
}

.footer .contacts {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
}
.footer-contacts:not(:last-child) {
  margin-bottom: 9px;
}

/* --------------CONNECT--------------  */

.connect {
  margin-left: 70px;
}
.connect-list {
  display: flex;
}
.connect-title,
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.connect-icon {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--ttime) var(--cubic);
}
.connect-list .item:not(:last-child) {
  margin-right: 10px;
}
.connect-icon:hover,
.connect-icon:focus {
  background-color: var(--theme-color);
}

.subscribe {
  margin-left: 93px;
}
.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-input {
  min-width: 358px;
  height: 50px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 16px;
  letter-spacing: 0.03em;
  outline: none;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}
.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white-color);
  background-color: var(--theme-color);
  border-color: var(--theme-color);

  padding: 10px 29px;
  overflow: hidden;

  transition: background-color var(--ttime) var(--cubic), fill var(--ttime) var(--cubic);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #188ce8;
  border-color: transparent;
}
.subscribe-icon {
  margin-left: 10px;
  fill: var(--white-color);
}
.subscribe-btn:hover .subscribe-icon {
  fill: var(--title-color);
}